

{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="cont">
  <div class="form sign-in">
      
      
      
      
       
       <img style='margin-top:80px; width:400px; margin-left:60px'  src="{% static 'images/logo.png' %}" alt="">
      <h2 style='color:red; '>{{form_signup.username.errors}}</h2>
      <h2 style='color:red;'>{{form_signup.password1.errors}}</h2>
      <h2 style='color:red;'>{{form_signup.password2.errors}}</h2>
      <h2 style='color:red;'>{{form_signup.email.errors}}</h2>
    </div>
    <div class="sub-cont">
      <div class="img">
      
        <div class="img-text m-up">
          <h2>New here?</h2>
          <p>Sign up and discover great amount of new opportunities!</p>
        </div>
        <div class="img-text m-in">
          <h2>One of us?</h2>
          <p>If you already has an account, just sign in. We've missed you!</p>
        </div>
        <div class="img-btn">
          <span class="m-up">Sign Up</span>
          <span class="m-in">Sign In</span>
        </div>
      </div>
      <form method="post">
    {% csrf_token %}
      <div class="form sign-up">

        <h2>Sign Up</h2>
        <label>
          <span>Name</span>
          {{form_signup.username}}
          
        </label>
        <label>
          <span>Email</span>
          {{form_signup.email}}
        </label>
        <label>
          <span>Password</span>
          {{form_signup.password1}}
        </label>
        <label>
          <span>Confirm Password</span>
          {{form_signup.password2}}
        </label>
        <button type="submit" class="submit">Sign Up Now</button>
        <p style='margin-left:180px'>Already Have An Account? <a href="{% url 'login' %}">login</a></p>
      </div>
      
      </form>
    </div>
  </div>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>
